<style>
    .description-block>.description-header {
        font-size: 21px;
    }
</style>

<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border text-center">
            <h3 class="box-title">Controle de Acesso</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="viewcontrole_de_acesso" class="table table-bordered table-hover dataTable" width="100%" data-view="controle_de_acesso" data-height="330px"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-primary">
        <div id="headersetor" class="box-header with-border text-center">
            <h3 class="box-title" style="display: block;">Cadastro de Visitantes</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="viewvisitante" class="table table-bordered table-hover dataTable" width="100%" data-view="visitante" data-height="330px"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-success">
        <div id="headerminhas" class="box-header with-border text-center">
            <h3 class="box-title" style="display: block;">Controle de Chaves</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="viewcontrole_de_chave" class="table table-bordered table-hover dataTable" width="100%" data-view="controle_de_chave" data-height="330px"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-danger">
        <div class="box-header with-border text-center">
            <h3 class="box-title">Controle de Veículos</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="viewcontrole_de_veiculo" class="table table-bordered table-hover dataTable" width="100%" data-view="controle_de_veiculo" data-height="330px"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
    });
</script>